---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=6&card[exp_year]=2015&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_VjfBGwT2zUU54UL16VAbmaQw
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-06-13'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_14En2n4zdTxaHvAkXWcIq9jt",
          "livemode": false,
          "created": 1405019845,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_14En2n4zdTxaHvAkBCtGlv5x",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 6,
            "exp_year": 2015,
            "fingerprint": "vxfYrqAiUxPB0Jp0",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "customer": null
          }
        }
  recorded_at: Thu, 10 Jul 2014 19:17:25 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=100&currency=usd&card=tok_14En2n4zdTxaHvAkXWcIq9jt
    headers:
      Authorization:
      - Bearer sk_test_VjfBGwT2zUU54UL16VAbmaQw
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-06-13'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_14En2o4zdTxaHvAkHuro5Ii2",
          "object": "charge",
          "created": 1405019846,
          "livemode": false,
          "paid": true,
          "amount": 100,
          "currency": "usd",
          "refunded": false,
          "card": {
            "id": "card_14En2n4zdTxaHvAkBCtGlv5x",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 6,
            "exp_year": 2015,
            "fingerprint": "vxfYrqAiUxPB0Jp0",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "pass",
            "address_line1_check": null,
            "address_zip_check": null,
            "customer": null
          },
          "captured": true,
          "refunds": [],
          "balance_transaction": "txn_14En2o4zdTxaHvAkbTyR8QhI",
          "failure_message": null,
          "failure_code": null,
          "amount_refunded": 0,
          "customer": null,
          "invoice": null,
          "description": null,
          "dispute": null,
          "metadata": {},
          "statement_description": null,
          "receipt_email": null
        }
  recorded_at: Thu, 10 Jul 2014 19:17:26 GMT
recorded_with: VCR 2.9.2
