---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_14En3D4zdTxaHvAkgj5iIUuX&plan=gold&email=wilson%40kovacek.name
    headers:
      Authorization:
      - Bearer sk_test_VjfBGwT2zUU54UL16VAbmaQw
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-06-13'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined"
          }
        }
  recorded_at: Thu, 10 Jul 2014 19:17:53 GMT
recorded_with: VCR 2.9.2
