---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_14En384zdTxaHvAk5Lv6oM5N&plan=gold&email=ardith%40jacobson.com
    headers:
      Authorization:
      - Bearer sk_test_VjfBGwT2zUU54UL16VAbmaQw
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-06-13'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1405019868,
          "id": "cus_4NY9QSdAwkcrec",
          "livemode": false,
          "description": null,
          "email": "ardith@jacobson.com",
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_4NY9QSdAwkcrec/subscriptions",
            "data": [
              {
                "id": "sub_4NY9BwSuV8SNZG",
                "plan": {
                  "interval": "month",
                  "name": "Amazing Gold Plan",
                  "created": 1404571232,
                  "amount": 2000,
                  "currency": "usd",
                  "id": "gold",
                  "object": "plan",
                  "livemode": false,
                  "interval_count": 1,
                  "trial_period_days": null,
                  "metadata": {},
                  "statement_description": null
                },
                "object": "subscription",
                "start": 1405019868,
                "status": "active",
                "customer": "cus_4NY9QSdAwkcrec",
                "cancel_at_period_end": false,
                "current_period_start": 1405019868,
                "current_period_end": 1407698268,
                "ended_at": null,
                "trial_start": null,
                "trial_end": null,
                "canceled_at": null,
                "quantity": 1,
                "application_fee_percent": null,
                "discount": null,
                "metadata": {}
              }
            ]
          },
          "discount": null,
          "account_balance": 0,
          "currency": "usd",
          "cards": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_4NY9QSdAwkcrec/cards",
            "data": [
              {
                "id": "card_14En384zdTxaHvAkcQGa9pwi",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 6,
                "exp_year": 2015,
                "fingerprint": "vxfYrqAiUxPB0Jp0",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "customer": "cus_4NY9QSdAwkcrec"
              }
            ]
          },
          "default_card": "card_14En384zdTxaHvAkcQGa9pwi"
        }
  recorded_at: Thu, 10 Jul 2014 19:17:49 GMT
recorded_with: VCR 2.9.2
