---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_14DcFL4zdTxaHvAk84dw2fYx
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_VjfBGwT2zUU54UL16VAbmaQw
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-06-13'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "evt_14DcFL4zdTxaHvAk84dw2fYx",
          "created": 1404740011,
          "livemode": false,
          "type": "charge.succeeded",
          "data": {
            "object": {
              "id": "ch_14DcFL4zdTxaHvAk4NWNj3Sh",
              "object": "charge",
              "created": 1404740011,
              "livemode": false,
              "paid": true,
              "amount": 2000,
              "currency": "usd",
              "refunded": false,
              "card": {
                "id": "card_14DcFJ4zdTxaHvAkBy0CBAxc",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 6,
                "exp_year": 2015,
                "fingerprint": "vxfYrqAiUxPB0Jp0",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "customer": "cus_4MKvOMzilPZXIF"
              },
              "captured": true,
              "refunds": [],
              "balance_transaction": "txn_14DcFL4zdTxaHvAkTL8RpyzB",
              "failure_message": null,
              "failure_code": null,
              "amount_refunded": 0,
              "customer": "cus_4MKvOMzilPZXIF",
              "invoice": "in_14DcFL4zdTxaHvAkL18j5D2E",
              "description": null,
              "dispute": null,
              "metadata": {},
              "statement_description": null,
              "receipt_email": null
            }
          },
          "object": "event",
          "pending_webhooks": 0,
          "request": "iar_4MKvn4mg2PI7Eb"
        }
  recorded_at: Thu, 10 Jul 2014 19:17:19 GMT
recorded_with: VCR 2.9.2
