---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4000000000000002&card[exp_month]=6&card[exp_year]=2015&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_VjfBGwT2zUU54UL16VAbmaQw
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-06-13'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_14En2x4zdTxaHvAkduDF2jOF",
          "livemode": false,
          "created": 1405019855,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_14En2x4zdTxaHvAkH6k0mzTr",
            "object": "card",
            "last4": "0002",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 6,
            "exp_year": 2015,
            "fingerprint": "i4JcBuICOVTmSjCv",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "customer": null
          }
        }
  recorded_at: Thu, 10 Jul 2014 19:17:35 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_14En2x4zdTxaHvAkduDF2jOF&plan=gold&email=nathen%40gleasonko.info
    headers:
      Authorization:
      - Bearer sk_test_VjfBGwT2zUU54UL16VAbmaQw
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-06-13'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined"
          }
        }
  recorded_at: Thu, 10 Jul 2014 19:17:37 GMT
recorded_with: VCR 2.9.2
