---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=6&card[exp_year]=2015&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_VjfBGwT2zUU54UL16VAbmaQw
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-06-13'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_14JRUw4zdTxaHvAkHpriR0ys",
          "livemode": false,
          "created": 1406128662,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_14JRUw4zdTxaHvAkpSWebZIm",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 6,
            "exp_year": 2015,
            "fingerprint": "vxfYrqAiUxPB0Jp0",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "customer": null
          }
        }
  recorded_at: Wed, 23 Jul 2014 15:17:42 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_14JRUw4zdTxaHvAkHpriR0ys&plan=gold&email=elza%40ledner.com
    headers:
      Authorization:
      - Bearer sk_test_VjfBGwT2zUU54UL16VAbmaQw
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-06-13'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1406128663,
          "id": "cus_4SMDuULp5uIIPF",
          "livemode": false,
          "description": null,
          "email": "elza@ledner.com",
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_4SMDuULp5uIIPF/subscriptions",
            "data": [
              {
                "id": "sub_4SMDJA95HVORwH",
                "plan": {
                  "interval": "month",
                  "name": "Amazing Gold Plan",
                  "created": 1404571232,
                  "amount": 2000,
                  "currency": "usd",
                  "id": "gold",
                  "object": "plan",
                  "livemode": false,
                  "interval_count": 1,
                  "trial_period_days": null,
                  "metadata": {},
                  "statement_description": null
                },
                "object": "subscription",
                "start": 1406128663,
                "status": "active",
                "customer": "cus_4SMDuULp5uIIPF",
                "cancel_at_period_end": false,
                "current_period_start": 1406128663,
                "current_period_end": 1408807063,
                "ended_at": null,
                "trial_start": null,
                "trial_end": null,
                "canceled_at": null,
                "quantity": 1,
                "application_fee_percent": null,
                "discount": null,
                "metadata": {}
              }
            ]
          },
          "discount": null,
          "account_balance": 0,
          "currency": "usd",
          "cards": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_4SMDuULp5uIIPF/cards",
            "data": [
              {
                "id": "card_14JRUw4zdTxaHvAkpSWebZIm",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 6,
                "exp_year": 2015,
                "fingerprint": "vxfYrqAiUxPB0Jp0",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "customer": "cus_4SMDuULp5uIIPF"
              }
            ]
          },
          "default_card": "card_14JRUw4zdTxaHvAkpSWebZIm"
        }
  recorded_at: Wed, 23 Jul 2014 15:17:43 GMT
recorded_with: VCR 2.9.2
