---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_14EjnC4zdTxaHvAkw5EdGL34
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_VjfBGwT2zUU54UL16VAbmaQw
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-06-13'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "evt_14EjnC4zdTxaHvAkw5EdGL34",
          "created": 1405007346,
          "livemode": false,
          "type": "charge.failed",
          "data": {
            "object": {
              "id": "ch_14EjnC4zdTxaHvAkFrOne6DN",
              "object": "charge",
              "created": 1405007346,
              "livemode": false,
              "paid": false,
              "amount": 2000,
              "currency": "usd",
              "refunded": false,
              "card": {
                "id": "card_14EjnB4zdTxaHvAk8ne66Js6",
                "object": "card",
                "last4": "0002",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 6,
                "exp_year": 2015,
                "fingerprint": "i4JcBuICOVTmSjCv",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "customer": null
              },
              "captured": false,
              "refunds": [],
              "balance_transaction": null,
              "failure_message": "Your card was declined.",
              "failure_code": "card_declined",
              "amount_refunded": 0,
              "customer": null,
              "invoice": null,
              "description": null,
              "dispute": null,
              "metadata": {},
              "statement_description": null,
              "receipt_email": null
            }
          },
          "object": "event",
          "pending_webhooks": 0,
          "request": "iar_4NUmrHj7RwMIvz"
        }
  recorded_at: Sat, 19 Jul 2014 17:22:29 GMT
recorded_with: VCR 2.9.2
