---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_14IfSv4zdTxaHvAk6InmX49v
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_VjfBGwT2zUU54UL16VAbmaQw
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-06-13'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "evt_14IfSv4zdTxaHvAk6InmX49v",
          "created": 1405944025,
          "livemode": false,
          "type": "invoice.payment_succeeded",
          "data": {
            "object": {
              "date": 1405944025,
              "id": "in_14IfSv4zdTxaHvAkMx3YGsE5",
              "period_start": 1405944025,
              "period_end": 1405944025,
              "lines": {
                "object": "list",
                "total_count": 1,
                "has_more": false,
                "url": "/v1/invoices/in_14IfSv4zdTxaHvAkMx3YGsE5/lines",
                "data": [
                  {
                    "id": "sub_4RYaIXR0qKYWEc",
                    "object": "line_item",
                    "type": "subscription",
                    "livemode": false,
                    "amount": 2000,
                    "currency": "usd",
                    "proration": false,
                    "period": {
                      "start": 1405944025,
                      "end": 1408622425
                    },
                    "quantity": 1,
                    "plan": {
                      "interval": "month",
                      "name": "Amazing Gold Plan",
                      "created": 1404571232,
                      "amount": 2000,
                      "currency": "usd",
                      "id": "gold",
                      "object": "plan",
                      "livemode": false,
                      "interval_count": 1,
                      "trial_period_days": null,
                      "metadata": {},
                      "statement_description": null
                    },
                    "description": null,
                    "metadata": {}
                  }
                ]
              },
              "subtotal": 2000,
              "total": 2000,
              "customer": "cus_4RYalEj74BTkoc",
              "object": "invoice",
              "attempted": true,
              "closed": true,
              "forgiven": false,
              "paid": true,
              "livemode": false,
              "attempt_count": 1,
              "amount_due": 2000,
              "currency": "usd",
              "starting_balance": 0,
              "ending_balance": 0,
              "next_payment_attempt": null,
              "webhooks_delivered_at": null,
              "charge": "ch_14IfSv4zdTxaHvAkH1ue8la5",
              "discount": null,
              "application_fee": null,
              "subscription": "sub_4RYaIXR0qKYWEc",
              "metadata": {},
              "statement_description": null,
              "description": null
            }
          },
          "object": "event",
          "pending_webhooks": 0,
          "request": "iar_4RYa5sc3j1Zx4M"
        }
  recorded_at: Mon, 21 Jul 2014 20:53:49 GMT
recorded_with: VCR 2.9.2
